/*
	version:	1.0
	author:		Mikel Alonso
	date:		20150518

*/

body {
	background-color: #00CC99;
}

a {
	text-decoration: none;
}

a:hover {
	color: orange;
}

h1 {
	font-family: verdana;
	text-align: center;
}

ul {
	list-style:none
}

.cine  {
	padding: 20px;
	margin: 25px;
}

.film {
	background-color: #E0E0E0;
	padding: 20px;
	margin: 25px;
}


.desc {
	float: right;
}

#cartelera {
	
}
